@model Research_Lab.Models.Computer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAuthorizedLab.cshtml";
}


<h4>Update Computer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditbyLabAsistant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cid" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LabId" class="control-label"></label>
                <select asp-for="LabId" readonly  class="form-control" asp-items="ViewBag.LabId"></select>
                <span asp-validation-for="LabId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="EditbyLabAsistant" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
