@model IEnumerable<Research_Lab.Models.Computer>

@{
    ViewData["Title"] = "ShowAvailableComputers";
    Layout = "~/Views/Shared/_LayoutAuthorized.cshtml";
}

    <h1>Available Computers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Computer ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>

        </tr>
}
    </tbody>
</table>
