
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NeedVerify</title>
</head>
<body>
    <h1>Please verify your self by visiting Management Office</h1>
    <a asp-action="Logout">Logout</a>
</body>
</html>
